<div class="db-container">
  <p style="color: green"><%= notice %></p>

  <h1>Actors</h1>

  <button><%= link_to "New actor", new_actor_path %></button>

  <div id="actors">
    <% @actors.each do |actor| %>
      <div class="card">
        <%= render actor %>
        <p>
          <button><%= link_to "Show this actor", actor %></button>
        </p>
      </div>
    <% end %>
  </div>
</div>
