<div class="db-container">
  <p style="color: green"><%= notice %></p>

  <h1>Directors</h1>

  <button><%= link_to "New director", new_director_path %></button>

  <div id="directors">
    <% @directors.each do |director| %>
      <div class="card">
        <%= render director %>
        <p>
          <button><%= link_to "Show this director", director %></button>
        </p>
      </div>
    <% end %>
  </div>

</div>
