<div class="container-home">
    <div class="description">
      <p>
      Willkommen auf meiner neuen Homepage. Falls Sie mich kontaktieren möchten, klicken Sie <%= link_to 'hier', kontakt_path %>.
      </p>
    </div>
    <div class="main-foto">
      <%= image_tag("vertical-lp.png", class: "lp-pic") %>
    </div>
</div>
