<div class="db-container">
  <p style="color: green"><%= notice %></p>

  <h1>Writers</h1>

  <button><%= link_to "New writer", new_writer_path %></button>

  <div id="writers">
    <% @writers.each do |writer| %>
      <%= render writer %>
      <p>
        <button><%= link_to "Show this writer", writer %></button>
      </p>
    <% end %>
  </div>

</div>
